*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}

body{
  font-family: 'Courier New', Courier, monospace;
  background-image: url('./assets/smile.jpg');
  background-repeat: no-repeat;
}

.app{
  text-align: center;
}
.app button{
 padding: 15px;
 margin-top: 80px;
 font-size: 20px;
 color:#326c57;
 font-weight: 700;

  appearance: none;
  background: none;
  outline: none;

 background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 5px rgba(0,0,0,0.2);
}

p{
  color: #000;
  font-weight: 600;
  font-size: 25px;
}

.quote, .author{
  margin-top: 30px;
}

.author{
 font-style: italic;
 text-transform: uppercase;
}
.author .auth{
  color: aliceblue;
  letter-spacing: 0.2em;
}